streamlit
pandas
numpy
plotly
kaleido
openbb
openbb-core==1.5.8
transformers
torch
fpdf
python-dotenv
langchain
langchain-openai
langchain-anthropic
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers

# Security to be fixed (pinned versions to address CVEs)
setuptools
pip>=25.3
python-multipart
xmltodict
