streamlit
pandas
numpy
plotly
kaleido
openbb
transformers
torch
fpdf
pytest
pytest-asyncio
pytest-cov
python-dotenv
langchain
langchain-openai
langchain-anthropic
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers

twisted
pytest-tornasync
pytest-trio
pytest-twisted
pre-commit
